<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #008080; margin: 0; padding: 10;">
    <div style="display: flex; justify-content: center; padding-top: 10px; box-shadow: 0px 0px 5px gray;">
        <div>
            <div style="display: flex; justify-content: center;">
                <h1 style="margin-bottom: 20px; color: white;">Lease Harmony</h1>
            </div>
            <div style="display: flex; padding: 2px; font-weight: lighter; text-shadow: 0px 0px 2px white; color: rgb(228, 255, 251); background: #2CA4A5; justify-content: center;">
                <h1> {{otp}} </h1>
            </div>
            <div style="display: flex; justify-content: center; color: white; ">
                <h3>Here is your OTP</h3>
            </div>
        </div>
    </div>
</body>

</html>